<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Carja - Aluguel de veículos</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="login-container">
            <div class="login-logo">
                <img src="{% static 'img/logo1.svg' %}" alt="Logo" class="logo">
            </div>
            <form class="login-form" action="/" method="POST">
            {% csrf_token %}
                <label for="login">Login:</label>
                <input type="text" name='usuario' id="usuario" autocomplete="on">
                <label for="password">Senha:</label>
                <input type="password" name='senha' id="password" autocomplete="off">
                <button type="submit">ENTRAR</button>
                <p>Não tem cadastro? <a href="#">Criar uma conta</a></p>
                <!-- Mensagem de erro -->
                {% if mensagem %}
                    <div class="alert alert-danger">
                        {{ mensagem }}
                    </div>
                {% endif %}
            </form>
        </div>
    </body>
</html>
